body {
width: 90%;
margin: 0 auto;
font-family: 'Lato', sans-serif;
}

#content {overflow: auto;}

header {
text-align: center;
}

.column1{
width: 45%;	
float: left;
margin-left: 0;
margin-right: 5%;

}

.column2 {
width: 45%;	
float: right;
margin-left: 0;
margin-right:5%;
}

.column3{
width: 45%;	
float: left;
clear: both;
margin-left: 5%;
margin-bottom: 0.5em;
padding-top: .5%;
padding-bottom: 1%;
border-top: 5px solid #f44336;
}

.column4 {
width: 45%;	
float: left;
margin-left: 5%;
margin-bottom: 0.5em;
padding-top: .5%;
padding-bottom: 1%;
border-top: 5px solid #f44336;
}

.column5 {
width: 50%;	
float: left;
padding-top: .5%;
border-top: 5px solid #f44336;
}

.column6 {
	width: 30%;	
	float: left;
	margin-right: 5%;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	padding-top: .5%;
	padding-bottom: 1%;
	border-top: 5px solid #f44336;
}
.column7 {
	width: 30%;	
	float: left;
	margin-right: 5%;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	padding-top: .5%;
	padding-bottom: 1%;
	border-top: 5px solid #f44336;
}
.column8 {
	width: 30%;	
	float: left;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	padding-top: .5%;
	padding-bottom: 1%;
	border-top: 5px solid #f44336;
}

.column9 {
	width: 45%;	
	float: left;
	clear: both;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	padding-bottom: 1%;
}
.column10 {
	width: 45%;	
	float: right;
	margin-top: 1.5em;
	padding-right: .5%;
}

.column11 {
	width: 45%;	
	float: left;
	clear: both;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	padding-top: 4em;
	padding-bottom: 1%;
}
.column12 {
	width: 45%;	
	float: right;
	margin-top: 1.5em;
	padding-right: .5%;
}

.column13 {
	width: 45%;	
	float: left;
	clear: both;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	padding-bottom: 1%;
}

.article{
	min-height: 100px;
	height: auto;
}

nav {margin: 1%;
	font-size: 14px;
	padding: 0.5em;
	font-weight: 900;
}

span:before{
    content:" "; 
    display:inline-block; 
    width:1em;
}

a:link, a:visited, a:hover {
text-decoration: none;
color: black;
display: inline;
text-align: center;
}

a:active{
text-decoration: none;
color: #f44336;
display: inline;
text-align: center;
}

a:hover {
text-decoration: none;
color: #f44336;
opacity: .9;
display: inline;
text-align: center;
}


h1 {font-size: 11px;
	font-weight: 200;
}

.statement {font-size: 20px;
	font-weight: 200;
	max-width: 800px;
	text-align: center;
	margin:0 auto;
	line-height: 1.4em;
}

.services {font-size: 17px;
	font-weight: 200;
	max-width: 800px;
	text-align: center;
	margin:0 auto;
}

.blog {
	font-size: 17px;
	font-weight: 200;
	text-align: center;
	padding-bottom: 1em;
}

.blogimage {font-size: 20px;
	font-weight: 200;
	max-width: 800px;
	text-align: center;
	margin:0 auto;
	line-height: 1.4em;
}

.container {
	padding-top: 1em;
	padding-bottom: 1em;
}

.container img{
    width: 100%;
    height: auto;
}

.responsive {
	width: 50%;
	padding-top: 1em;
	padding-bottom: 1em;
	float:left;
}

.responsive img{
    width: 100%;
    height: auto;
}

.responsive2 {
	width: 50%;
	padding-top: 1em;
	padding-bottom: 1em;
	float:left;
}

.responsive2 img{
    width: 100%;
    height: auto;
}


h2 {font-size: 22px;
	font-weight: 500;
    margin:0;
    padding:0;
}

h3
 {font-size: 14px;
	font-weight: 400; 
    margin:0;
    padding:0;
	color: #f44336;
	letter-spacing: 0.1em;
}

h4
 {font-size: 26px;
	font-weight: 200; 
    margin:0;
    padding:0;
	max-width: 800px;
	text-align: center;
	margin:0 auto;
}

.quote {font-size: 26px;
	font-weight: 200; 
    padding:0;
	max-width: 600px;
	text-align: left;
	margin:0 auto;
}
.author {font-size: 14px;
	color: red;
	font-weight: 700;
	text-align: left;
	margin:0 auto;
}

h5
 {font-size: 32px;
	font-weight: 200; 
    margin:0;
    padding:0;
	max-width: 800px;
	text-align: center;
	color: red;
	margin:0 auto;
}

h6
 {font-size: 28px;
	font-weight: 700; 
	text-align: left;
	margin: 0;
}

p {font-size: 14px;
	font-weight: 200;
}

.intro {font-size: 17px;
	font-weight: 200;
	text-align: center;
	max-width: 800px;
	text-align: center;
	margin:0 auto;
}



.article2 {
background-color: #eee;	
padding-top: 1em;
padding-bottom: 1em;
}

.section {font-size: 14px;
	font-weight: 200;
	text-align: center;
	max-width: 500px;
	text-align: center;
	margin:0 auto;
}

footer {
background-color: #f44336;
}

.clear {
display: inline-block;
width: 200px;
padding:0.5em;
font-size: 11px;
color: white;
text-align: left;
vertical-align: top;
font-weight: 700;
}

fieldset {
padding: 10px;
text-align: left;
background-color: #eee;
border: none;
clear: both;
}

legend {
padding: 5px 10px;
text-align: left;
}

textarea{
border: none;
}


@media only screen and (max-width: 600px) {	
	.column9 {
		width: 100%;	
		float: left;
		border-top: 5px solid #f44336;
		padding-top: .5em;
	}
	.column10 {
		width: 100%;	
		float: left;
		margin-top: 0;
		margin-bottom:1.5em;
		padding-top: 0;
	}

	.column11 {
		width: 100%;	
		float: left;
		margin-top: 0;
		padding-top: 1.5em;
		border-top: 5px solid #f44336;
	}
	.column12 {
		width: 100%;	
		float: left;
		margin-top:0;
	}

	.column13 {
		width: 100%;	
		float: left;
		margin-top: 1.5em;
		border-top: 5px solid #f44336;
		padding-top: .5em;
	}

	.article{
		min-height: 100px;
		height: auto;
	}
